body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(233, 233, 233);
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.center {
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 4px;
    width: 100%;
    position: fixed;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.logo img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-right: 9px;
    border: 2px solid rgba(0, 0, 255, 0.664);
}
.searchbar {
    width: 100%;
    max-width: 260px;
    background: rgb(208, 207, 207);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 10px 22px;
}
.searchbar input {
    background: transparent;
    outline: none;
    border: 0;
    flex: 1;
    padding: 4px 10px;
    font-size: 16px;
    font-weight:550;
}
::placeholder {
    color:rgb(125, 124, 124) ;
}
.searchbar button {
    border: none;
    background: transparent;
    color:rgb(125, 124, 124) ;
}
.font a {
    padding: 30px;
    color: rgb(114, 114, 114);
}
.font2 {
    margin-right: 6px;
}
.font2>a  {
    color: black;
    padding: 10px;
    border-radius: 50%;
    background: rgb(225, 225, 225);
}
.part1 {
    margin-left: 2%;
}
.name {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.name i {
    color: gray;
}
.name p {
    font-size: 14px;
    font-weight: bold;
}
.font3 div{
    padding: 4px;
}
.one {
    color: rgb(13,110,253);
}
.two {
    color: rgb(13,110,253);
}
.three {
    color: rgb(255,193,7);
}
.four {
    color: rgb(220,53,69);
}
.five{
    color: rgb(13,202,240);
}
.six {
    color: rgb(13,110,253);
}
.seven {
    color: rgb(255,193,7);
}
.eight {
    color: rgb(13,110,253);
}
.nine {
    color: green;
}
.ten {
    color: rgb(13,110,253);
}
.color {
    color: black;
    font-size: 13px;
}
.line {
    border: 1px solid rgb(199, 198, 198);
    width: 150px;
}

.text1 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(132, 131, 131);
}
.text2 {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 7px;
}
.text2 b {
    background: rgb(203, 202, 202);
    padding: 5px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    margin-right: 6px;
}
.text2 p {
    font-weight: bold;
    font-size: 14px;
}
.text3 {
    font-size: 12px;
    font-weight: bold;
    color: rgb(132, 131, 131);
}
.part2 {
    margin-right: 10%;
}
.boxcont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.boxcont div {
    width: 135px;
    height: 200px;
    background: aquamarine;
    border-radius: 10px;
    margin: 5px;
}
.box div {
    width: 55px;
    height: 55px;
    background: red;
    border-radius: 50%;
    margin: 10px;
}

.box2 {
    background: white;
    height: 200px;
    width: 80%;
    border-radius: 6px;
    margin-bottom: 4%;
}
.item2 {
    display: flex;
    align-items: center;
    margin: 20px;
}
.item2 i {
    margin-top: 5%;
}
.text4 {
    background: rgb(235, 233, 233);
    width: 540px;
    height: 40px;
    border-radius: 40px;
    margin-top: 5%;
    padding-left: 10px;
    font-size: 15px;
}
.line2 {
    border: 1px solid green;
    width: 100;
    margin: 20px;
    margin-top: 4%;
    margin-bottom: 6%;
}
.boxicon {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.color2 {
    color: rgb(187, 185, 185);
    font-size: 20px;
    font-weight: 50;
}
.box3 {
    display: flex;
    align-items: center;
    background:white;
    height: 80px;
    border-radius: 6px;
    width: 80%;
    margin-bottom: 4%;
}
.border {
    margin-left: 15px;
}
.img2 {
    margin-left: 15px;
}
.img2 a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}
.border {
    border: 1.5px solid rgb(13,110,253);
    padding: 10px;
    border-radius: 20px;
}
.border i {
    color: rgb(220,53,69);
}
.room {
    color: rgb(13,110,253);
}
.part2iii {
    width: 80%;
}
.box4 {
    height: 70px;
    border-radius: 6px;
    background: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.image img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin: 20px;
}
.text5 {
    margin-right: 45%;
    margin-left: -10px;
}
.small {
    font-size: 13px;
}
.ming {
    width: 80%;
}
.ming img {
    border-radius: 6px;
    border: 1px solid red;
} */


.menucont {
    margin-left: 400px;
    margin-bottom: 40px;
    margin-top: 6%;
}
.name {
    padding: 15px;
    font-size: 21px;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.searchbar1 {
    width: 100%;
    max-width: 240px;
    background: rgb(215, 215, 215);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 3px 5px;
    margin-left: 30px;
    margin-top: 10px;
}
.searchbar1 input {
    background: transparent;
    outline: none;
    border: 0;
    flex: 1;
    padding: 4px 10px;
    font-size: 12px;
    font-weight:550;
}
::placeholder {
    color:rgb(125, 124, 124) ;
}
.searchbar1 button {
    border: none;
    color:rgb(125, 124, 124) ;
    background: transparent;
}

.menucont {
    background: rgb(200, 197, 197);
    width: 600px;
    height: 570px;
    margin-left: 55%;
    position: fixed;
    top: 55px;
    margin-bottom: -60px;
    border-radius: 10px;
    padding-bottom: 3px;
}
.box5 {
    background: white;
    width: 310px;
    border-radius: 9px;
    height: 500px;
}
.boxhead {
    padding: 13px;
}
.links div{
    padding: 2px;
    margin-left: 12px;
}
.onei {
    color: rgb(220,53,69);
}
.twoi {
    color: rgb(13,110,253);
}
.twi {
    color: rgb(13,110,253);
}
.fouri {
    color: rgb(13,110,253);
}
.fivei{
    color: rgb(255,193,7); 
}
.sixi {
    color: green;
}
.seveni {
    color: rgb(220,53,69);
}
.eighti {
    color: rgb(13,110,253);
}
.ninei {
    color: rgb(13,110,253);
}
.teni {
    color: rgb(13,110,253);
}
.colo {
    color: black;
    font-size: 13px;
}
.box5i {
    background-color: white;
    width: 245px;
    border-radius: 9px;
}
.boxheadi {
    padding: 15px;
}

.linei {
    border: 1px solid gray;
    padding: 0;
    width: 80%;
    height: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

.barcont {
    display: none;
    top: 0;
    left: 0;
}






























